<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="header">Dashboard</h1>
    <div id="chart" class="chart-container"></div>

    <script>
        // Example of a Plotly chart
        var data = [{
            type: 'scatter',
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17]
        }];

        Plotly.newPlot('chart', data);
    </script>
    <a href="/" class="link">Back to Home</a>
</body>
</html>
