<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="header">Login</h1>
    <form class="form-container" method="post" action="/login">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="input-field">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input-field">
        </div>
        <div>
            <input type="submit" value="Login" class="button">
        </div>
    </form>
    <a href="/" class="link">Back to Home</a>
</body>
</html>
