<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center-container">
        <h1 class="header">Login</h1>
        <form class="form-container" method="post" action="/login">
            <div class="input-group">
                <label for="username" class="input-label">Username:</label>
                <input type="text" id="username" name="username" class="input-field">
            </div>
            <div class="input-group">
                <label for="password" class="input-label">Password:</label>
                <input type="password" id="password" name="password" class="input-field">
            </div>
            <div class="button-container">
                <input type="submit" value="Login" class="button">
            </div>
        </form>
        <a href="/" class="link">Back to Home</a>
    </div>
</body>
</html>
